  <div id="logInModal"%>
    <%= form_for(:session, url: "/sessions/loginnew") do |f| %>
        <%= f.email_field :email, placeholder: "email", required: true %>
        
        <%= f.password_field :password, placeholder: "password", required: true %><br />

        <%= f.submit "Lets Rock", class: "btn btn-large btn-inverse center", id: "logInSubmit" %>
    <% end %>
  </div>

    