<li id='group_<%="#{group.id}"%>' class='droppable ui-droppable'>
	<a href='/groups/<%="#{group.id}"%>' class='destroyBookmark'>x</a>
    <a href='#' class='liGroup'><i class="icon-folder-close"></i> <%=group.name%></a>
</li>