@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background:#332627;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 label.fieldInline{
  display:inline;
 }

 label.emailLogin{
  margin-right:26px;
 }

 a.center{
  margin:auto;
 }

div.container{
  padding:0;
}
 div#logInModal{
  width:235px;
  margin:auto;
  margin-top:9%;
  border: 1px solid #999;
  padding-left: 15px;
  padding-top: 15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background:white;
 }

 div#logInBackground{
  background:black;
 }

 input#logInSubmit{
  width:220px;
 }
 header#headerNavBar{
  height:35px;
 }

 input#addBookmarkField{
  width:500px;
  height:30px;
  margin:0;
  margin-top:5px;
 }
 input.removeFormat{
  margin-left:8px;
  padding:5px;
 }

 h1.left{
  float: left;
 }

 section#bookmarksList{
  border: 3px solid white;
  background:$grayLighter;
  float:left;
  position: absolute; top: 0; left: 0; right: 80%; bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
 }

 section#navigationFrame{
  border: 3px solid white;
  background:$blue;
  float:left;
  position: absolute; top: 0; left: 20%; right: 0; bottom: 0;
 }

 div.main{
  margin:0;
  width:auto;
  position: absolute; top: 7.9%; left: 0; right: 0; bottom: 4.5%;
 }

 input.search-query{
  margin:4px;
  width:78%;
  height:12px;
  resize:none;
 }

 iframe#frame{
  width:99.7%;
  height:99.7%;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
 }

 section#bookmarksList a{
  color: rgba(0, 136, 204, .6);
  font-weight:bold;
  font-size:15px;
  &:hover { 
    color: $grayLight;
    text-decoration:none;
    color: rgba(0, 136, 204, 1);
  }
}