@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background:#332627;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 label.fieldInline{
  display:inline;
 }

 label.emailLogin{
  margin-right:26px;
 }

 a.center{
  margin:auto;
 }

div.container{
  padding:0;
}
 div#logInModal{
  width:235px;
  margin:auto;
  border: 1px solid #999;
  padding-left: 15px;
  padding-top: 15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background:white;
 }

 div#logInBackground{
  background:black;
 }

 input#logInSubmit{
  width:220px;
 }
 header#headerNavBar{
  height:35px;
 }

 input#addBookmarkField{
  width:500px;
  height:30px;
  margin:0;
  margin-top:5px;
 }
 input.removeFormat{
  margin-left:8px;
  padding:5px;
 }

 h1.left{
  float: left;
 }

 section#bookmarksList{
  max-width:512px;
 }

 section#navigationFrame{
  margin-top:5px;
  background:$grayMediumLight;
  height:85%;
  width:81.3%;
  float:right;
  position:fieldInline;
  clear:right;
 }

 div.main{
  margin:0;
  width:auto;
 }

 input.search-query{
  margin:4px;
  width:78%;
  height:12px;
  resize:none;
 }

 iframe#frame{
  width:99%;
  height:98%;
 }

 div#xxx{
  margin-top:5px;
  background:$grayMediumLight;
  height:auto;
  min-width:6%;
  max-width:40%;
  float:left;
  resize:both;
  height:512px;
 }

 section#bookmarksGroups{
  resize:none;
 }