<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">  
      <%= form_for(:bookmark, url: "/bookmarks") do |f| %>
        <%= f.text_field :url, placeholder: "url", required: true, id:"addBookmarkField" %>
        <%= f.submit "+ add", class: "btn btn-large btn-warning removeFormat" %>
      <%end%>
    </div>
  </div>
</header>