<div id="header">
  <% if signed_in? %>
      <input type="text" placeholder="url" id="addBookmarkField">
      <a class="btn btn-small btn-warning removeFormat" id="addBookmark">+ add</a>
      <% if current_user.bookmarks.count != 0 %>
        <a href="#" class="btn btn-inverse removeFormat" id="randomPageBtn" target="iframe" >random</a>
      <%else%>
        <a href="#" class="btn btn-inverse removeFormat" id="randomPageBtn" target="iframe" display="none">random</a>
      <%end%>
      <!-- <a class="btn btn-small removeFormat" id="demo"># demo</a> -->

    <%=hidden_field 'email', @username, id:"username", value: @username%>
    <nav>
      <ul class="pull-right">
        <li>
          <a href= '#' rel="tooltip" title="help" id="helpButton">
          <i class="icon-question-sign icon-white"></i>
          </a>
        </li>
        <li>
          <%= link_to raw('<i class="icon-off icon-white"></i>'), signout_path, rel: "tooltip", title:"logged in as", method: "delete", id: "logOutIcon" %>
        </li>
      </ul>
    </nav>
  <%else%>
    <h1 class="left" id="logo">My Bookmark Tabs</h1>
  <%end%>
</div>